### Code formatting rules for CERN Industrial Control Frameworks CTRL code
### (c) CERN 2023

## We want the "KNF" (linux) style for braces, with 4-spaces (not 8) as indent;
## alternatively we may use "kr" Kernighan & Ritchie style
style=linux
indent=spaces=4

## Properly indent the "case: statements inside the "switch" statement
indent-switches

## for functions with long names we may want to have parameters
## specified one per line, and nicely aligned 
indent-continuation=1

## for the above, sometimes we want more than 40 characters of indent to be possible...
max-continuation-indent=60

## we DO NOT want to break the code blocks automatically; leave this to the programmer!
##break-blocks

## we DO NOT want to enforce extra spaces around operators; leave this to the programmer!
##pad-oper

## we want a space after a comma in parameter list foo(a,b) -> foo(a, b)
pad-comma

## Remove the space between the bracket and its content
unpad-paren

## we want a space between "if", "for" and the ()
pad-header

### THIS OPTION DOES NOT WORK WITH ASTYLE in WinCC OA 3.19P004
## we do not want spaces inside brackets: 
##   "a = b [ a [ 1 ] ]"    =>   "a = b[a[1]];"
###unpad-brackets

### THIS OPTION DOES NOT WORK WITH ASTYLE in WinCC OA 3.19P004
## remove superfluous empty lines if more than 4
###squeeze-lines=4

## attach the & to the variable: (string& param) => (string &param)
align-reference=name

## convert tabs to spaces in the non-indentation part of the line;
## not replaced within quotes
convert-tabs

## make sure we have UNIX end of line
lineend=linux

## make sure one-liner blocks and statements are not split
keep-one-line-blocks
keep-one-line-statements

