[ui]
scriptEditorParseLibs = "classes/fwStdUi/Fw*.ctl"
scriptEditorParseLibs = "classes/fwStdUi/themes/Fw*.ctl"

### uncomment the entry below to enable UI Themes support
# fwStdUiThemesEnable = 1

### set the default style (built-ins: "default","fwStdUi-Light","FwStdUi-Dark")
### note that the styles must be enabled for it to be effective
# fwStdUiStartupTheme = "default"

### if you want to completely disable loading the css files on startup
### (which happens even if fwStdUiThemesEnable is not set)
### then uncomment this one:
# fwStdUiDisableStylesheetsOnStartup = 1

# this is auto-loaded to enforce CSS being applied on startup
LoadCtrlLibs = "classes/fwStdUi/FwStdUiTheme.ctl"